header{
  width: 100%;
}
body {
  background-color:  #fcfcea ;
}
div{
  text-align: center;
}
  border-radius: 10px;
}

table{
  border-style:  solid black;
    background-color: white;
    color: black;
    height: auto;
    width: 300PX;
  }
  header{
    width: 100%;
    height: 80px;
    background-color: rgb(180, 25, 25);
    color: white;
}

hr{
    border: 1px solid rgb(180, 25, 25);
}

img{
  width: 250px;
    height: auto;
}
    

    